<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FuncionarioControlador</servlet-name>
        <servlet-class>Controlador.FuncionarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncControlador</servlet-name>
        <servlet-class>Controlador.FuncControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioController</servlet-name>
        <servlet-class>Controlador.FuncionarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionariosControlador</servlet-name>
        <servlet-class>Controlador.FuncionariosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosControlador</servlet-name>
        <servlet-class>Controlador.UsuariosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoRquerimientoControlador</servlet-name>
        <servlet-class>Controlador.TipoRequerimientoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoRequerimientoControlador</servlet-name>
        <servlet-class>Controlador.TipoRequerimientoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pqrsControlador</servlet-name>
        <servlet-class>Controlador.pqrsControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncionarioControlador</servlet-name>
        <url-pattern>/FuncionarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncControlador</servlet-name>
        <url-pattern>/FuncControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioController</servlet-name>
        <url-pattern>/FuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionariosControlador</servlet-name>
        <url-pattern>/FuncionariosControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosControlador</servlet-name>
        <url-pattern>/UsuariosControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoRquerimientoControlador</servlet-name>
        <url-pattern>/TipoRquerimientoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoRequerimientoControlador</servlet-name>
        <url-pattern>/TipoRequerimientoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pqrsControlador</servlet-name>
        <url-pattern>/pqrsControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
